@media (max-width: 40em) {
  .nine {
    max-width: 40em;
  }
}

.nine {
  margin-top: 3%;
  background-color: #4A2C2A;
  width: 100%;
  display: flex;

  // height: 570px;
  @media (max-width: 40em) {
    flex-direction: column;
    height: 400px;
  }

  .first {
    // background-color: red;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 0%;
    height: inherit;
    width: inherit;
    @media (max-width: 40em) {
      // background-color: red;
      // flex: 0.5;
      height: 100%;
      margin-left: 5%;
      margin-right: 5%;
    }
    
    .wahid {
      // margin-top: 1%;
      display: flex;
      flex-direction: column;
      
      h2 {
        font-size: 48px;
        font-family: "Aaargh";
        color: white;
        @media (max-width: 40em) {
          font-size: 22px;
        }
      }
      
    }

    .duos {
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      @media (max-width: 40em) {
        margin-top: 15%;
      }
      .newone{
        margin: -9% 0% 10% 10%;
        
        display: flex;
        // background-color: red;
        width: 80%;
        .iconsline{
          display: flex;
          margin-right: 3%;
            .socialicons{
              margin-right: 5px;
              color: #fff;
              font-size: 22px;
             
            }
            img{
              width: 22px;
              height: 22px;
              object-fit: cover;
            }
        }
      }
      .estenen {
        display: flex;
        margin-bottom: 10%;
        @media (max-width: 40em) {
          align-items: center;
        }

        .image {
          color: white;
        }
        span {
          margin-left: 3%;
          font-size: 20px;
          // font-family: "Roboto-Regular";
          color: white;
          @media (max-width: 40em) {
            margin-left: 1%;
            font-size: 12px;
          }
        }
        
      }
      
    }
    .gps{
      display: flex;
      // align-items: center;
      background-color: blue;
      width: 100%;
      height: 100%;
      img{
        background-color: red;
        // object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .second {
    // background-color: red;
    flex: 1;
    margin-left: 2%;
    margin-right: 10%;
    margin-top: 3%;
    background-color: white;
    justify-content: space-evenly;
    // width: 30%;
    border-radius: 7px;
    // display: flex;
    // background-color: red;
    // height: 10%;
    @media (max-width: 40em) {
      height: 100%;
      // flex: 1;
      margin-right: 1%;
      margin-left: 1%;
      width: 100%;
      
      // background-color: red;
    }
    .position{
      display: flex;
      // flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 90%;
      // background-color: red;
      // height: 100%;
      // right: -60%;
      @media (max-width:40em) {
        // right: -100%;
      }
    }
    .postiton{
      display: flex;
      // flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      
      // background-color: red;
      // height: 100%;
      // right: -60%;
      @media (max-width:40em) {
        // right: -100%;
      }
      .button{
        background-color: #2d767f;
        color: white;
        margin-top: 1%;
        margin-right: 4%;
        width: 40%;
        font-size: 13px;
        // font-family: "Roboto-Regular";
      }
    }
    .one {
      display: flex;
      margin-left: 3%;
      margin-bottom: 3%;
      // margin-right: 10%;
      width: 87%;
      margin-top: 3%;
      @media (max-width: 40em) {
        margin-right: 0%;
        margin-left: 0%;
      }

      .texting {
        width: 100%;
        @media (max-width: 40em) {
          width: 90%;
          font-size: 12px;
        }
      }
      .textingg{
        width: 28%;
        margin-right: 4%;
        @media (max-width: 40em) {
          width: 90%;
          font-size: 12px;
        }
      }
    }
    .two {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0%;
      // margin-left: 60%;
      // height: 40px;
      @media (max-width: 40em) {
        margin-left: 30%;
        margin-top: 0%;
        // height: 30px;
      }
      span{
        font-size: 12px;
        font-family: "Aaargh";
      }
      button {
        cursor: pointer;
        border-radius: 4px;
        border: none;
        background-color: #2d767f;
        color: white;
        font-size: 18px;
        // font-family: "Roboto-Regular";
        // height: 70px;
        @media (max-width: 40em) {
          font-size: 12px;
          height: 50px;
        }
      }
    }
  }
}
