@media (max-width: 40em) {
  .five{
max-width: 40em;

  }
 }
 
.five{
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  // background-color: red;
  @media (max-width: 40em) {
    margin-left: 5%;
    margin-right: 5%;

   }
   
  .first{
    display: flex;
    flex-direction: column;
    .duos{
      

      h2{
        // color: #4A2C2A;
        color:#112d17;
        font-size: 48px;
        font-family: "Roboto-Bold";
        @media (max-width: 40em) {
          font-size: 22px;
         }
         

      }
    }
    .wahid{
      margin-top: 3%;
      display: flex;
      align-items: center;
      img{
        flex: 1;
        height: 300px;
        object-fit: cover;
        border-radius: 7px;
        @media (max-width: 40em) {
          height: 170px;
         }
         
      }
      .estnen{
        flex: 3;
        display: flex;
        flex-direction: column;
        margin-left: 1%;
        @media (max-width: 40em) {
          margin-left: 2%;
          flex:2;
         }
         h4{
          font-size: 28px;
          font-family: "Roboto-Bold";
          margin-bottom: 3%;
          @media (max-width: 40em) {
            font-size: 14px;
           }
         }
        p{
          
          margin-top: 2%;
          font-size: 20px;
          font-family: "Roboto-Regular";
          margin-bottom: 3%;
          @media (max-width: 40em) {
            font-size: 12px;
           }
           
        }
      }
    }
    
  }
}