@media (max-width: 40em) {
 .seven{
  max-width: 70em;
 }
}
.seven{
  display: flex;
  flex-direction: column;
  height: 330px;
  width: 200px;
  align-items: center;
  cursor: pointer;
  // background-color: red;
  @media (max-width: 40em) {
    height: 170px;
    width: 120px;
    // background-color: red;
   }
   
//  background-color: red;
  .img{

    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 7px;
    @media (max-width: 40em) {
      // border-radius: 4px;
     }
     

  }
  span{
    // background-color: red;
    font-size: 18px;
    font-family: "Aaargh";
    margin-top: 2%;
    @media (max-width: 40em) {
      font-size: 12px;
     }
     
  }
}