@media (max-width: 40em) {
  .four{
    max-width: 40em;
  }
 }
 
.four {
  margin-top: 3%;
  .first {
    display: flex;
    flex-direction: column;

    .whaid {
      img {
        width: 100%;
        height: 240px;
        object-fit: cover;
        overflow: hidden;
        filter: brightness(50%);
        @media (max-width: 40em) {
          height: 170px;
          object-fit:fill;
         }
         

      }
    }
    .estnen {
      display: flex;
      position: absolute;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 6%;
      @media (max-width: 40em) {
        margin-left: 5%;
        margin-right:5%;
        margin-top: 10%;

       }
       
      p {
        font-size: 22px;
        text-align: center;
        font-family: "Roboto-Regular";
        color: #FFFFFF;
        @media (max-width: 40em) {
          font-size: 12px;
         }
         
      }

    }
  }
}
