@media (max-width: 40em) {
  .ten{
    max-width:40em;
  }
 }
 
.ten{
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  height: 440px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction:column;
  // background-color: red;
  // width: 100%;
  // background-color: #555;
  @media (max-width: 40em) {
   height: 400px;
   margin-left: 3%;
   margin-right: 3%;
   }
   
  .wahid{
    height: inherit;
    img{
      z-index: 1;
      width: 100%;
      object-fit: cover;
      height: inherit;
      border-radius: 13px;
      filter: brightness(50%);
  
    }
  }
  
  .tilte{
    // background-color: red;
    width: 50%;
    position: relative;
    z-index: 2;
    top: -450px;
    left: 100px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 16%;
    margin-right: 3%;
    @media (max-width: 40em) {
      top: -370px;
      left: 0px;
      font-size: 12px;
      width: 70%;
      margin-left: 10%;
     }
     
    h2{
        color: white;
        font-size: 48px;
        font-family: "Roboto-Bold";
        @media (max-width: 40em) {
          font-size: 22px;
         }
         
    }
    span{

      margin-top: 1%;
      font-size: 20px;
          font-family: "Roboto-Regular";
          text-align: center;
          color:white;
          @media (max-width: 40em) {
            margin-top: 5%;
            font-size: 12px;
           }
           
          // margin-bottom: 3%;
    }
  }
  .attributes{
    position: relative;
    z-index: 2;
    left: 100px;
    top: -550px;
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-left: 9%;
    margin-right: 5%;
    @media (max-width: 40em) {
      top: -450px;
      left: 0px;
      margin-top: 30%;
      width: 90%;
      margin-left: 3%;
      // background-color: red;
     }
     
    .single{
      width: 30%;
      height: 100%;
      // filter: brightness(50%);
      background-color: #112D17;
      opacity: 0.8;
      // border: 1px solid black;
      // background-color: red;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 8%;
      border-radius: 7px;
      @media (max-width: 40em) {
        margin-right: 3%;
       }
       
      
      .icon{
        margin-top: 3%;
        color:white;
        @media (max-width: 40em) {
          font-size: 12px;
         }
         
        
      }
      h2{
        color: white;
        font-size: 20px;
        font-family: "Roboto-Bold";
        margin-bottom: 5%;
        @media (max-width: 40em) {
          font-size: 18px;
         }
         
      }
      span{
        color: white;
        margin-bottom: 3%;
        font-size: 18px;
        font-family: "Roboto-Thin";
        text-align: center;
        @media (max-width: 40em) {
          font-size: 12px;
         }
         
      }
    }
    // margin-top: 10%;
  }
}