@media (max-width: 40em) {
  .nav {
    max-width: 40em;
    // background-color: blue;
  }
}
.nav{
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  // margin-top: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
  padding-top: 1%;
  @media (max-width: 40em) {
    padding-left: 1%;
    padding-right: 1%;

  }
  // background-color: red;
  .sec{
    display: flex;
    flex:1;
    @media (max-width: 40em) {
      
      flex: 1;
    }
    .first{
      margin-right: 20px;
      
      @media (max-width: 40em) {
        padding-left: 1%;
        padding-right: 1%;
        margin-right: 0px;
      }
      a{
        cursor: pointer;
        color: #112d17;
        font-family: "Roboto-Bold";
        font-size: 19px;
        text-decoration: none;
        @media (max-width: 40em) {
         font-size: 10px;
        }
        
      }
    }
  }
  
  .logo{
    flex: 1;
    margin-right: 20px;
    // background-color: red;
    display: flex;
    // justify-content: center;
    align-items: center;
    // background-color: red;
    @media (max-width: 40em) {
      flex: 0.5;
      margin-right: 0px;
      // background-color: red;
     }
     
    img{
      height: 100%;
      width: 30%;
      object-fit: contain;
      @media (max-width: 40em) {
        width: 80%;
       }
       
    }
  }
}
