.nav{
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  // margin-top: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
  padding-top: 1%;
  // background-color: red;
  .first{
    margin-right: 20px;
    

    span{
      cursor: pointer;
      color: #34251F;
      font-family: "Roboto-Bold";
      font-size: 19px;
      
    }
  }
  .logo{
    margin-right: 20px;
    height: 30px;
    width: 70px;
    background-color: #34251F;
    display: flex;
    justify-content: center;
    align-items: center;
    
    span{
      color: white;
      font-family: "Roboto-Regular";
      font-size: 19px;
    }
  }
}
