.nav{
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  // margin-top: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
  padding-top: 1%;
  // background-color: red;
  .sec{
    display: flex;
    flex:1;
    .first{
      margin-right: 20px;
      
  
      a{
        cursor: pointer;
        color: #34251F;
        font-family: "Roboto-Bold";
        font-size: 19px;
        text-decoration: none;

        
      }
    }
  }
  
  .logo{
    flex: 1;
    margin-right: 20px;
    // background-color: red;
    display: flex;
    // justify-content: center;
    align-items: center;
    // background-color: red;
    img{
      height: 100%;
      width: 30%;
      object-fit: contain;
    }
  }
}
